<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="userRow(user, iterator)">
    <th scope="row" th:onclick="'goToCalendar('+${user.userId}+')'">
        <span th:text="${iterator.count - 1}"></span>
    </th>
    <td th:onclick="'goToCalendar('+${user.userId}+')'">
        <span th:text="${user.userName}"></span>
    </td>
    <td sec:authorize="isAuthenticated()" th:onclick="'goToCalendar('+${user.userId}+')'">
        <span th:text="${user.userSurname}"></span>
    </td>
    <td sec:authorize="hasAnyRole('DIRECTOR','HOLDER')" th:onclick="'goToCalendar('+${user.userId}+')'">
        <span th:text="${user.userPesel}"></span>
    </td>
    <td sec:authorize="hasAnyRole('ENGINEER','CONSTRUCTION_MANAGER','DIRECTOR','HOLDER')" th:onclick="'goToCalendar('+${user.userId}+')'">
        <span th:text="${user.userEmail}"></span>
    </td>
    <td sec:authorize="hasAnyRole('ENGINEER','CONSTRUCTION_MANAGER','DIRECTOR','HOLDER')" th:onclick="'goToCalendar('+${user.userId}+')'">
        <span th:text="${user.userPhoneNumber}"></span>
    </td>
    <td sec:authorize="hasAnyRole('DIRECTOR','HOLDER')" th:onclick="'goToCalendar('+${user.userId}+')'">
        <span th:text="${user.userLogin}"></span>
    </td>
    <td><span th:text="${user.userRole}" th:onclick="'goToCalendar('+${user.userId}+')'"></span>
        <input style="float: right;" type="button" value="Delete" th:onclick="'deleteUser('+${user.userId}+')'"
               th:if="${whatRole == true || user.userLogin == logged}">
        <input style="float: right; margin-right: 4px" type="button" value="Edit"
               th:onclick="'editUser('+${user.userId}+')'" th:if="${whatRole == true || user.userLogin == logged}">
    </td>
</div>
</body>
</html>