<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>My organization</title>
    <link th:href="@{/style/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/utils.html :: navigation"></div>

<h4>Registration</h4>

<br>

<div class="container">
    <form th:action="@{/worker/addWorker}" th:object="${newUser}" method="post">
        <div class="row">
            <div class="col-2">
                Name :
            </div>
            <div class="col-4">
                <input th:field="*{userName}"/>
                <ul style="color:red">
                    <li th:each="err : ${#fields.errors('userName')}" th:text="${err}"/>
                </ul>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2">
                Surname :
            </div>
            <div class="col-4">
                <input th:field="*{userSurname}"/>
                <ul style="color:red">
                    <li th:each="err : ${#fields.errors('userSurname')}" th:text="${err}"/>
                </ul>
            </div>
        </div>

        <br>


        <div class="row">
            <div class="col-2">
                Pesel :
            </div>
            <div class="col-4">
                <input th:field="*{userPesel}"/>
                <ul style="color:red">
                    <li th:each="err : ${#fields.errors('userPesel')}" th:text="${err}"/>
                </ul>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2">
                Email :
            </div>
            <div class="col-4">
                <input th:field="*{userEmail}"/>
                <ul style="color:red">
                    <li th:each="err : ${#fields.errors('userEmail')}" th:text="${err}"/>
                </ul>

            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2">
                Phone number :
            </div>
            <div class="col-4">
                <input th:field="*{userPhoneNumber}"/>
                <ul style="color:red">
                    <li th:each="err : ${#fields.errors('userPhoneNumber')}" th:text="${err}"/>
                </ul>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2">
                Position :
            </div>
            <div class="col-4">
                <select th:field="*{userRole}">
                    <option th:value="WORKER">WORKER</option>
                    <option th:value="ENGINEER">ENGINEER</option>
                    <option th:value="CONSTRUCTION_MANAGER">CONSTRUCTION MANAGER</option>
                    <option th:value="DIRECTOR">DIRECTOR</option>
                </select>
            </div>
        </div>

        <br>

        <div class="container">
            <div class="row">
                <div class="offset-3">
                    <input type="submit" value="Save" class="btn btn-primary">
                    <input type="reset" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:replace="fragments/utils.html :: footer"></div>

</body>
</html>

