<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>My organization</title>
    <link th:href="@{/style/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/utils.html :: navigation"></div>

<h4>Rejestracja</h4>

<br>

<div class="container">
    <form th:action="@{/user/registration}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{userPesel}" th:value="${user.userPesel}"/>

        <div class="row">
            <div class="col-2">
                <label for="userName">Imię :</label>
            </div>
            <div class="col-4">
                <input th:field="*{userName}" id="userName"/>
<!--                <div style="color:red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">UserName Error</div>-->
                <ul style="color:red">
                    <li th:each="err : ${#fields.errors('userName')}" th:text="${err}"/>
                </ul>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2">
                Nazwisko :
            </div>
            <div class="col-4">
                <input th:field="*{userSurname}"/>
<!--                <div style="color:red" th:if="${#fields.hasErrors('userSurname')}" th:errors="*{userSurname}">UserSurname Error</div>-->
                <ul style="color:red">
                    <li th:each="err : ${#fields.errors('userSurname')}" th:text="${err}"/>
                </ul>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2">
                Email :
            </div>
            <div class="col-4">
                <input th:field="*{userEmail}" />
<!--                <div style="color:red" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">UserEmail Error</div>-->
                <ul style="color:red">
                    <li th:each="err : ${#fields.errors('userEmail')}" th:text="${err}"/>
                </ul>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2">
                Telefon :
            </div>
            <div class="col-4">
                <input th:field="*{userPhoneNumber}" />
<!--                <div style="color:red" th:if="${#fields.hasErrors('userPhoneNumber')}" th:errors="*{userPhoneNumber}">UserPhoneNumber Error</div>-->
                <ul style="color:red">
                    <li th:each="err : ${#fields.errors('userPhoneNumber')}" th:text="${err}"/>
                </ul>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2">
                Login :
            </div>
            <div class="col-4">
                <input th:field="*{userLogin}"/>
<!--                <div style="color:red" th:if="${#fields.hasErrors('userLogin')}" th:errors="*{userLogin}">UserLogin Error</div>-->
                <ul style="color:red">
                    <li th:each="err : ${#fields.errors('userLogin')}" th:text="${err}"/>
                </ul>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2">
                Hasło :
            </div>
            <div class="col-4">
                <input type="password" th:field="*{userPassword}"/>
<!--                <div style="color:red" th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}">UserPassword Error</div>-->
                <ul style="color:red">
                    <li th:each="err : ${#fields.errors('userPassword')}" th:text="${err}"/>
                </ul>
            </div>
        </div>

        <br>

        <div class="container">
            <div class="row">
                <div class="offset-3">
                    <input type="submit" value="Zapisz" class="btn btn-primary">
                    <input type="reset" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:replace="fragments/utils.html :: footer"></div>
</body>
</html>

