<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Vaccination</title>
    <link th:href="@{/style/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/utils.html :: navigation"></div>

<h4>Rejestracja</h4>

<br>

<div class="container">
    <form th:action="@{/worker}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{userId}" th:value="${user.userId}"/>

        <div class="row">
            <div class="col-2">
                Imię :
            </div>
            <div class="col-4">
                <input th:field="*{userName}"/>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2">
                Nazwisko :
            </div>
            <div class="col-4">
                <input th:field="*{userSurname}"/>
            </div>
        </div>

        <br>


        <div class="row">
            <div class="col-2">
                Pesel :
            </div>
            <div class="col-4">
                <input th:field="*{userPesel}"/>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2">
                Email :
            </div>
            <div class="col-4">
                <input th:field="*{userEmail}"/>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2">
                Telefon :
            </div>
            <div class="col-4">
                <input th:field="*{userPhoneNumber}"/>
            </div>
        </div>

        <br>

        <div class="container">
            <div class="row">
                <div class="offset-3">
                    <input type="submit" value="Zapisz" class="btn btn-primary">
                    <input type="reset" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:replace="fragments/utils.html :: footer"></div>
</body>
</html>

