<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org"><head>
  <meta charset="UTF-8">
  <title>My organization</title>
  <link th:href="@{/style/main.css}" rel="stylesheet">
  <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/utils.html :: navigation"></div>

<div>
  <table class="table table-bordered table-dark">
    <thead>
    <tr>
      <th scope="col">Lp.</th>
      <th scope="col">Name</th>
      <th scope="col" sec:authorize="isAuthenticated()">Surname</th>
      <th scope="col" sec:authorize="hasAnyRole('DIRECTOR','HOLDER')">PESEL</th>
      <th scope="col" sec:authorize="hasAnyRole('ENGINEER','CONSTRUCTION_MANAGER','DIRECTOR','HOLDER')">Email</th>
      <th scope="col" sec:authorize="hasAnyRole('ENGINEER','CONSTRUCTION_MANAGER','DIRECTOR','HOLDER')">Phone number</th>
      <th scope="col" sec:authorize="hasAnyRole('DIRECTOR','HOLDER')">Login</th>
      <th scope="col">Position</th>
    </tr>
    </thead>
    <tbody>
    <tr style="cursor:pointer;" th:if="${user.UserLogin != 'Admin'}" th:each="user, iterator : ${users}" th:class="${iterator.odd ? 'odd' : 'even'}"
        th:include="fragments/usersTable.html :: userRow(user, iterator)">
    </tr>
    </tbody>
  </table>
</div>

<!--<div th:if="${patients == null or patients.isEmpty()}">-->
<div th:unless="${users != null and !users.isEmpty()}">
  <h4>No registered employees</h4>
  <p sec:authorize="isAuthenticated()"><a th:href="@{/user/add}">Add worker</a></p>
</div>
<div th:replace="fragments/utils.html :: footer"></div>


<script>
  function editUser(userId) {
    window.location.assign("http://localhost:8080/worker/update/" + userId)
  }

  function goToCalendar(userId) {
    window.location.assign("http://localhost:8080/worker/workerCalendar/" + userId)
  }

  function deleteUser(userId) {
    let r = confirm("Usunąć pracownika?");
    if (r === true) {
      window.location.assign("http://localhost:8080/worker/delete/" + userId)
    } else {
      alert("Pracownik nie był usunięty")
    }
  }
</script>

</body>
</html>