<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Worker Calendar</title>
    <link th:href="@{/style/main.css}" rel="stylesheet">

    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: sans-serif;
        }

        .userInfo {
            padding: 5px;
            background: #555555;
            color: black;
            font-weight: bold;
            font-size: 20px;
        }


    </style>
</head>
<body>
<div th:replace="fragments/utils.html :: navigation"></div>

<div>
    <form th:action="@{/worker/workerCalendar/workerCalendarDetails}" th:object="${workerCalendarDetails}"
          method="post">
        <input type="hidden" th:field="*{userId}" th:value="${userId}"/>
        <input type="hidden" th:field="*{addDate}" th:value="${addDate}"/>
        <input type="hidden" th:field="*{id}" th:value="${id}"/>


        <div class="container">
            <div class="row">
                <div class="col-2">
                    Workday start: <span th:text="*{workdayStart}"></span>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-2">
                    Workday end: <span th:text="*{workdayEnd}"></span>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-2">
                    Workday place: <span th:text="*{workingPlace}"></span>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-2">
                    Day tasks: <span th:text="*{tasks}"></span>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-2">
                    Volume: <span th:text="*{volume}"></span>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-2">
                    Attention: <span th:text="*{attention}"></span>
                </div>
            </div>

            <br>

        </div>

        <br>

        <div class="container">
            <div class="row">
                <div class="offset-3">
                    <input type="submit" value="Edit" class="btn btn-primary"
                           sec:authorize="hasAnyRole('ENGINEER','CONSTRUCTION_MANAGER','DIRECTOR','HOLDER')">
                    <input type="button" onclick="goBack()" value="Go back" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</div>
</form>
</div>
<div th:replace="fragments/utils.html :: footer"></div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>